
# === Fichiers de config de l'éditeur (VSCode) ===
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Fichiers Python compilés
__pycache__/
*.py[cod]
*$py.class

# Environnements virtuels
venv/
env/
ENV/
.venv/
# Les données
data/
flake8_rapport/

